.row {
    display: flex;
}

.col {
    /* float: left; */
    padding: 10px;
    margin: 10px;
}

.sidebar {
    width: 10%;
}

.left {
    width: 20%;
}

.right {
    width: 20%;
}

.content {

    width: 70%;
}

.column {
    /* background: skyblue; */
    /* text-align: center; */
    /* margin: 5px;
    padding: 25px 10px; */
    flex: 50%;
}

.input-text {
    text-indent: 15px;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    /* background-image: url(); */
}